@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.notification.slide-in {
  animation-name: slideIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.notification.slide-out {
  transform: translateX(150%);
  flex: 0;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 430px;
  max-height: 200px;
  overflow: hidden;
  padding: 12px 48px 12px 12px;
  z-index: 99;
  font-weight: bold;
  position: relative;
  transition: all 0.3s ease-out;
}
  
.notification:not(:last-child) {
  margin-bottom: 8px;
}

.notification .closeButton {
  position: absolute;
  top: 4px;
  right: 4px;
  background: transparent;
  padding: 4px;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.notification .closeButton:hover {
  background: #0f0e13bd;
  transform: scale(1.05);
}

.notification,
.notification .closeButton {
  color: #fff;
}


.notification.info {
  background-color: #2195f3;
}

.notification.success {
  background-color: #4caf50;
}

.notification.warning {
  background-color: #ff9800;
}

.notification.error {
  background-color: #f44336;
}

.notification-wrap {
  overflow: hidden;
  max-height: 200px;
  transition: max-height 0.3s ease-out;
}
.notification-wrap:not(:last-child) {
    margin-bottom: 8px;
}

.notification-wrap.shrink {
    max-height: 0;
}